/* css styles */
.title {
  font-size: 33px;
  color:#1b4a9c;
  text-align: center;
  font-style: italic;
}

.subtitle {
  font-size: 28px;
  color: #ad9882;
  text-decoration: underline;     
  text-decoration-color: #ad9882;
  text-align: left;
  font-style: italic;
}

.description {
  font-size: 25px;
  color: #ad9882;
  text-decoration: underline;
  text-align: center;
  font-style: italic;
  text-underline-offset: 8px;
}

h1 { /* Header 1 */
  font-size: 33px;
  color: #141c64;
}

h1_a { /* Header 1 */
  font-size: 33px;
  color: #141c64;
}


h2 { /* Header 2 */
  font-size: 28px;
  color: #ad9882;
  text-decoration: underline;     
  text-decoration-color: #ad9882;
  text-align: right;
  font-style: italic;
}

p {
  font-size: 23px;
  color:black;
  font-style: italic;
}


.caption p {
font-size: 24px;
}

.navbar {
  background-color:#ad9882;
  border-color:#104898;
  height: 60px;
}

.navbar-brand {
color:#1b4a9c!important;
}

img{
  float: right;
  width: 600px;
}

.logo img {
  height: 4000px;
  width: 3000px;
}

ul{
  list-style-image: url('images/1681364019429-4.jpg');
  text-align: center;
  font-size: 18px;
  font-style: italic;
  color: #141c64;
  padding: 50;
}



